In [5]:
import pandas as pd

In [31]:
n = int(input("Enter an non-negative integer number: "))

Enter an non-negative integer number: 4

In [32]:
even = []
odd = []
fibo = [0,1]

for i in range(n):
  even.append(2*i)
  odd.append(2*i+1)
  
  if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [33]:
odd

[1, 3, 5, 7]

In [34]:
even

[0, 2, 4, 6]

In [35]:
fibo

[0, 1, 1, 2]

In [36]:
#Test to check the len of the three lists
if(len(even) == len(odd) == len(fibo)) == False:
  st = "Please enter a positive integer"
  print(st)

In [37]:
display_dict = {'odd':odd,'even':even,'fibo':fibo}

display_df = pd.DataFrame(data = display_dict)

display_df

   odd  even  fibo
0    1     0     0
1    3     2     1
2    5     4     1
3    7     6     2